<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Findstate</h2>
          <p>Far far away, behind the word mountains, far from the countries.</p>
          <ul class="ftco-footer-social list-unstyled mt-5">
            <li class="ftco-animate"><a href="#"><span><i class="bi bi-twitter"></i></span></a></li>
            <li class="ftco-animate"><a href="#"><span><i class="bi bi-facebook"></i></span></a></li>
            <li class="ftco-animate"><a href="#"><span><i class="bi bi-instagram"></i></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Community</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span><i class="bi bi-arrow-right"></i></span>Search Properties</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right"></i></span>For Agents</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right"></i></span>Reviews</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right"></i></span>FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">About Us</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Our Story</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Meet the team</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Company</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>About Us</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Press</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Contact</a></li>
            <li><a href="#"><span><i class="bi bi-arrow-right-short"></i></span>Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span><i class="bi bi-geo-alt"></i></span><span class="text"> Bizerte,tunisia</span></li>
                <li><a href="#"><span><i class="bi bi-phone"></i> </span><span class="text"> +216 55 387 849</span></a></li>
                <li><a href="#"><span><i class="bi bi-envelope"></i> </span><span class="text"> ret.com</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;2021 All rights reserved | This template is made with <i class="bi bi-heart-fill"></i> by Real Estate
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
