
  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        
          <h1 class="fw-light">Buy favourites </h1>
        
          <div class="container ">    
               <div class="product-details mr-2"><button class="btn btn-outline-danger" (click)="clearFavourites()"> delete all </button>
            <hr>
            <div class="d-flex justify-content-between"><span> Houses  in your list : </span>
               
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded" *ngFor="let fav of favContent;index as i">
              <div class="card mb-3" style="max-width: 1500px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{fav.image}}" class="card-img" alt="..." width="300px" height="227px">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{fav.title}}</h5>
                      <p class="card-text">{{fav.description}}</p>
                      <h6  > <i class="bi bi-geo-alt"></i>{{ fav.location}}  
                       <i class="bi bi-person"></i>{{ fav.owner}}  </h6> 
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
                 
                
               
          
           
        </div>
     </div>
    </div>
        
            
          
        
      
    </section>
 
     
           
    
  
  </main>
