<section
  class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('assets/images/fav.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        js-fullheight
        align-items-end
        justify-content-center
      "
    >
      <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
        <h1 class="mb-3 bread">Favourites</h1>  <p class="breadcrumbs">
          <span class="mr-2"><a routerLink="buy-favourites">Buy <i class="bi bi-chevron-right"></i></a></span>
          <span><a routerLink="rent-favourites">Rent </a
            > <i class="bi bi-chevron-right"></i></span>
        </p>
       
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info justify-content-center">
      <div class="col-md-8">
        <div class="row mb-5">
          <div class="col-md-4 text-center py-4">
            <div
              class="icon mb-3 d-flex align-items-center justify-content-center"
            >
              <span><i class="bi bi-geo-alt"></i></span>
            </div>
            <p>
              <span>Address:</span> Bizerte,tunisia
            </p>
          </div>
          <div class="col-md-4 text-center py-4">
            <div
              class="icon mb-3 d-flex align-items-center justify-content-center"
            >
              <span><i class="bi bi-phone"></i></span>
            </div>
            <p>
              <span>Phone:</span>
              <a href="tel://21655387849">+216 55 387 849</a>
            </p>
          </div>
          <div class="col-md-4 text-center py-4">
            <div
              class="icon mb-3 d-flex align-items-center justify-content-center"
            >
              <span><i class="bi bi-envelope"></i></span>
            </div>
            <p>
              <span>Email:</span>
              <a href="mailto:realestatetunisia@ret.com">realestatetunisia@ret.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
