<section
  class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('assets/images/loginbg.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <br> <br> 
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">create  an account </h3>
          <form action="#" class="signin-form">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required>
            </div>
              
        <div class="form-group">
          <input id="password-field" type="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
        </div>
        <div class="form-group d-md-flex">
            <div class="w-50">
               
                        </div>
                        <div class="w-50 text-md-right">
                            <a class="btn btn-light" routerLink="/auth/login" style="color: rgb(27, 24, 24)"> login </a>
                        </div>
        </div>
      </form>
     
      </div>
      </div>
        </div>
    </div>
</section>


