<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('assets/images/bg_1.jpg')" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div class="
        row
        no-gutters
        slider-text
        js-fullheight
        align-items-end
        justify-content-center
      ">
      <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
        <h1 class="mb-3 bread">Rent</h1>
        <p class="breadcrumbs">
          <span class="mr-2"><a routerLink="/">Home <i class="bi bi-chevron-right"></i></a></span>
          <span>Rent <i class="bi bi-chevron-right"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>
<br><br><br>
	<!-- Button trigger modal -->
<ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">

                                  <li class="nav-item">
                                    <a class="nav-link active btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true" style="margin-left: 30cm;">Add House</a>
                                  </li>

                                </ul>

<!-- Modal add -->
<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adding a new House for rent
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue"(ngSubmit)="addRent()" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              formControlName="title" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name Owner</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="owner"
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="description"
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image"
              formControlName="image" aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Size</label>
            <input type="number" class="form-control" id="exampleInputEmail1" formControlName="size"
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Room Number</label>
            <input type="number" class="form-control" id="exampleInputEmail1" formControlName="room_number"
              aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Location</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="location"
              aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price per month</label>
            <input type="number" class="form-control" id="exampleInputEmail1" formControlName="price_per_month"
              aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Start date available</label>
            <input type="date" class="form-control" id="exampleInputEmail1" formControlName="start_date_available"
              aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Start date available</label>
            <input type="date" class="form-control" id="exampleInputEmail1" formControlName="end_date_available"
              aria-describedby="emailHelp" />
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
             add
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close</button>&nbsp;&nbsp;

      </div>
    </div>
  </div>
</div>

<section class="ftco-section goto-here">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let rent of rentList">
        <div class="property-wrap ftco-animate">
          <div class="img d-flex align-items-center justify-content-center"
            style="background-image: url({{rent.image}});">
            <a routerLink="/rent/{{ rent._id }}" class="
                icon
                d-flex
                align-items-center
                justify-content-center
                btn-custom
              ">
              <i class="bi bi-link-45deg"></i>
            </a>
            <div class="list-agent d-flex align-items-center">
              <a href="#" class="agent-info d-flex align-items-center">
                <div class="img-2 rounded-circle" style="background-image: url(assets/images/person_2.jpg)"></div>
                <h3 class="mb-0 ml-2"></h3>
              </a>

              <div class="tooltip-wrap d-flex">
                <a href="#" class="
                    icon-2
                    d-flex
                    align-items-center
                    justify-content-center
                  " data-toggle="tooltip" data-placement="top" title="Bookmark">
                  <span class="ion-ios-heart"><i class="sr-only">Bookmark</i></span>
                </a>
                <a href="#" class="
                    icon-2
                    d-flex
                    align-items-center
                    justify-content-center
                  " data-toggle="tooltip" data-placement="top" title="Compare">
                  <span class="ion-ios-eye"><i class="sr-only">Compare</i></span>
                </a>
              </div>
            </div>
          </div>

          <div class="text">
            <button type="button" (click)="addTofav(rent.id)" title="Add To Fav" id="heart"
              class="btn btn-sm btn-outline-secondary">
              <i id="like" class="bi bi-heart"></i>
            </button>


            <p class="price mb-3">
              <span class="orig-price">{{ rent.price_per_month | currency: "EUR" }}/Month</span>
            </p>
            <p class="price mb-3">
              <span class="orig-price">{{ rent.start_date_available }} - {{ rent.end_date_available }}
              </span>
            </p>
            <h3 class="mb-0">
              <a routerLink="">{{ rent.owner }}</a>
            </h3>
            <span class="location d-inline-block mb-3"><i class="bi bi-geo-alt-fill"></i>{{ rent.location }}</span>
            <ul class="property_list">
              <li>
                <i class="bi bi-door-closed-fill"></i>{{ rent.room_number }}
              </li>
              <li><i class="bi bi-building"></i>{{ rent.size }}sqft</li>
            </ul>
            <button type="button" (click)="onEditRent(rent)"  title="update rent" id="update"  data-bs-toggle="modal" data-bs-target="#modalUpdate"
            class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-pencil-square"></i>
          </button>
          <!-- Modal update -->
<div class="modal fade bd-example-modal-xl" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Update a new House for rent
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formValue"(ngSubmit)="UpdateRent()" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="title" />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name Owner</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="owner"
            aria-describedby="emailHelp" />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Description</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="description"
            aria-describedby="emailHelp" />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Image</label>
          <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image"
            formControlName="image" aria-describedby="emailHelp" />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Size</label>
          <input type="number" class="form-control" id="exampleInputEmail1" formControlName="size"
            aria-describedby="emailHelp" />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Room Number</label>
          <input type="number" class="form-control" id="exampleInputEmail1" formControlName="room_number"
            aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Location</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="location"
            aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Price per month</label>
          <input type="number" class="form-control" id="exampleInputEmail1" formControlName="price_per_month"
            aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Start date available</label>
          <input type="date" class="form-control" id="exampleInputEmail1" formControlName="start_date_available"
            aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">End date available</label>
          <input type="date" class="form-control" id="exampleInputEmail1" formControlName="end_date_available"
            aria-describedby="emailHelp" />
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
           save changes
        </button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close</button>&nbsp;&nbsp;

    </div>
  </div>
</div>
</div>
            <button type="button" (click)=" deleteRent(rent)" title="delete rent" id="delete"
            class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-trash"></i>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
