<section
  class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('assets/images/loginbg.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <br> <br> 
        </div>
    </div>
    <div class="row justify-content-center">
     
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account?</h3>
          <div *ngIf=" a==1" class="alert alert-danger alert-dismissible fade show"
          role="alert"><p>Please check your email or password.</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control" id="floatingInput"
                placeholder="name@example.com" required>
              </div>
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" id="floatingPassword"
        placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
        </div>
        <div class="form-group d-md-flex">
            <div class="w-50">
               
                        </div>
                        <div class="w-50 text-md-right">
                            <a class="btn btn-light" routerLink="/auth/register" style="color: rgb(27, 24, 24)"> Register </a>
                        </div>
        </div>
      </form>
     
      </div>
      </div>
        </div>
    </div>
</section>


