<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
          <h1 class="mb-3 bread">About Us</h1>
          <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Home <i class="bi bi-chevron-right"></i></a></span> <span>About Us <i class="bi bi-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
</section>

<!-- <section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/Vieux_Port_Bizerte.jpg);">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate">
      <div class="heading-section">
        <h2 class="mb-4">Welcome To Findstate A Real Estate Agency</h2>

        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
        <p><a href="#" class="btn btn-primary">More details</a></p>
      </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate">
      <div class="heading-section">
        <h2 class="mb-4">Welcome To Findstate A Real Estate Agency</h2>

        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
        <p><a href="#" class="btn btn-primary">More details</a></p>
      </div>
            </div>
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/tn.jpg);">
            </div>
        </div>
    </div>
</section> -->


	<!-- Button trigger modal -->
  <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" *ngIf="currentUser.id == '61cffe10c47ebf92aa986145' "   aria-expanded="true" style="margin-left: 30cm;">Add Agency</a>
    </li>

  </ul>

<!-- Modal add -->
<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adding a new Agency
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="formValue.dirty && formValue.invalid" class="alert alert-danger alert-dismissible fade show"
        role="alert"> 
      <p *ngIf="formValue.controls.owner.errors?.required">The owner name is required</p>
      <p *ngIf="formValue.controls.image_owner.errors?.required">The  owner image is required</p>
      <p *ngIf="formValue.controls.mail.errors?.required">The email is required</p>
      <p *ngIf="formValue.controls.mail.errors?.email">enter a valid email</p>

      <p *ngIf="formValue.controls.phone.errors?.required">The phone is required</p>
      <p *ngIf="formValue.controls.location.errors?.required">The location is required</p>
      <p *ngIf="formValue.controls.image_location.errors?.required">The location image is required</p>
      <p *ngIf="formValue.controls.siege_social.errors?.required">The head office is required</p>
      <p *ngIf="formValue.controls.date_creation.errors?.required">The Creation date is required</p>
      <p *ngIf="formValue.controls.horaire.errors?.required">The Schedule is required</p>
      <p *ngIf="formValue.controls.description.errors?.required">The description is required</p>

      </div>
        <form  [formGroup]="formValue"(ngSubmit)="addAbout()" enctype="multipart/form-data" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name Owner</label>
            <input type="text" class="form-control"  required
              formControlName="owner" 
              [class.is-invalid]="formValue.dirty && formValue.controls.owner.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.owner.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Owner</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image" required
              formControlName="image_owner" aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.image_owner.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.image_owner.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control"  formControlName="mail" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.mail.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.mail.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input type="tel" class="form-control"  formControlName="phone" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.phone.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.phone.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Location</label>
            <input type="text" class="form-control"  formControlName="location" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.location.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.location.valid"/>
          </div>
            
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Location</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image" required
              formControlName="image_location" aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.image_location.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.image_location.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">The head office</label>
            <input type="text" class="form-control"  formControlName="siege_social" required
              aria-describedby="emailHelp"
              [class.is-invalid]="formValue.dirty && formValue.controls.siege_social.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.siege_social.valid" />
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Creation Date</label>
            <input type="date" class="form-control"  formControlName="date_creation" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.date_creation.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.date_creation.valid"/>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Schedule</label>
            <input type="text" class="form-control"  formControlName="horaire" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.horaire.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.horaire.valid"/>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control"  formControlName="description" required
              aria-describedby="emailHelp" 
              [class.is-invalid]="formValue.dirty && formValue.controls.description.invalid"
              [class.is-valid]="formValue.dirty && formValue.controls.description.valid"/>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
             add
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close</button>&nbsp;&nbsp;

      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pb" *ngFor="let agency of agencyList">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({{agency.image_location}});">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate">
      <div class="heading-section">
        <h2 class="mb-4">Welcome To Findstate A Real Estate Agency " {{ agency.location }} "</h2>

        <p>{{ agency.description }}</p>
        <p></p>
        <p><a  routerLink="/about/{{agency._id}}" class="btn btn-primary">More details</a></p>

        <!-- Button trigger modal -->
        
        <button type="button" (click)="onEditAbout(agency)" *ngIf="currentUser.id == '61cffe10c47ebf92aa986145' "   title="update About" id="update"  data-bs-toggle="modal" data-bs-target="#modalUpdate"
            class="btn btn-sm btn-outline-secondary">Update
            <i class="bi bi-pencil-square"></i>
          </button>
          <br>
          <br>
          <button type="button" (click)="delete(agency)"*ngIf="currentUser.id == '61cffe10c47ebf92aa986145' "  class="btn btn-sm btn-outline-danger">delete
            <i class="bi bi-trash-square"></i>
          </button>
        
<!-- Modal add -->
<div class="modal fade bd-example-modal-xl" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Update a Agency
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="formValue"(ngSubmit)="UpdateAbout()" enctype="multipart/form-data" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name Owner</label>
            <input type="text" class="form-control"  required
              formControlName="owner" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Owner</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image" required
              formControlName="image_owner" aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control"  formControlName="mail" required
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input type="tel" class="form-control"  formControlName="phone" required
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Location</label>
            <input type="text" class="form-control"  formControlName="location" required
              aria-describedby="emailHelp" />
          </div>
            
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Location</label>
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="exampleInputEmail1" name="image" required
              formControlName="image_location" aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">The head office</label>
            <input type="text" class="form-control"  formControlName="siege_social" required
              aria-describedby="emailHelp" />
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Creation Date</label>
            <input type="date" class="form-control"  formControlName="date_creation" required
              aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Schedule</label>
            <input type="text" class="form-control"  formControlName="horaire" required
              aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control"  formControlName="description" required
              aria-describedby="emailHelp" />
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
             Update
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close</button>&nbsp;&nbsp;

      </div>
    </div>
  </div>
</div>
      </div>
            </div>
        </div>
    </div>
</section>